Automate creation of Blogs for Social media.json
{
    "name": "Automate creation of Blogs for LinkedIn",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 2,
                "sheetId": "Prompt",
                "__IMTCONN__": 6615526,
                "spreadsheetId": "/1CCz5SyhvEpxKEtpGLB1Olv9wMNw1mjbn3y7CyRluCNM",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -95,
                    "y": -66
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Prompt"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Blogs from Make.com"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Title (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Keyword (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Slug (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Excerpt (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Category (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Featured Image (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Direct to (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 217,
                    "y": -280
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6579156
                            },
                            "filter": {
                                "name": "Route to LinkedIN or FB",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`6`}}",
                                            "b": "LinkedIn",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "gemini-2.0-flash-exp-image-generation",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "text": "Write an article about {{1.`3`}} including subtitle that use markup for formatting. Dont output the h1 title. Remove any html reference and keep it in plain text with correct formatting and paragraph breaks. Make the article feel human and mildly humorous.\nKeep the length of the article below 2500 words",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "generationConfig": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 648,
                                    "y": -275
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini 2.0 Flash (Image Generation) Experimental"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "stopSequences": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "My Gemini AI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "help": "You get this from the 'Upload a File' module.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "linkedin:CreatePost",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6579237
                            },
                            "mapper": {
                                "content": "{{2.result}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 956,
                                    "y": -159
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "mentions": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "My LinkedIn connection (Vikas Raina)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "mentions",
                                        "spec": [
                                            {
                                                "name": "entity",
                                                "type": "select",
                                                "label": "Entity",
                                                "options": [
                                                    {
                                                        "label": "Person",
                                                        "value": "member",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:person:1234`. Only mention someone with a connection to the authenticated user.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Company",
                                                        "value": "company",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:organization:123456`.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Entity Name",
                                                "required": true
                                            },
                                            {
                                                "name": "start",
                                                "type": "number",
                                                "label": "Start",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Mentions"
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Media Type",
                                        "validate": {
                                            "enum": [
                                                "ARTICLE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6579156
                            },
                            "filter": {
                                "name": "Route to FB",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`6`}}",
                                            "b": "FB",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "gemini-2.0-flash-exp-image-generation",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "text": "Write an article for facebook about {{1.`3`}} including subtitle that use markup for formatting. Dont output the h1 title. Remove any html reference and keep it in plain text with correct formatting and paragraph breaks. Make the article feel human and mildly humorous.\nKeep the length of the article below 2500 words",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "generationConfig": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 601,
                                    "y": 24
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini 2.0 Flash (Image Generation) Experimental"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "stopSequences": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "My Gemini AI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "help": "You get this from the 'Upload a File' module.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 6612142
                            },
                            "mapper": {
                                "message": "{{5.result}}",
                                "page_id": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1013,
                                    "y": 54
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "Facebook"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}